# A1

## Instructions

### Q1 

print the world "cop" ten times.

In [ ]:
# insert your answer here

In [1]:
x =10
print(10)

10

In [2]:
import pandas as pd

df = pd.DataFrame({'x':[1,2]})

df

   x
0  1
1  2